@page "/edit-quote/{id:int}"
@inject Quotes.UI.QuotesServices.IQuotesApiService QuotesApiService
@inject NavigationManager Navigation
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@using Quotes.UI.DTO

<div class="d-flex flex-column">
    <MudText Typo="Typo.h6">Edit Quote</MudText>
    <MudPaper>

        <QuoteForm @ref="quoteForm"
                   Author="@Author"
                   AuthorChanged="OnAuthorChanged"
                   Tags="@Tags"
                   TagsListParams="@tagsList"
                   TagsChanged="OnTagsChanged"
                   QuoteContent="@QuoteContent"
                   QuoteContentChanged="OnQuoteContentChanged" />
        <div class="d-flex flex-row justify-content-center mt-2 mb-2">
            <MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick="GoToHome" Class="mr-2">Back</MudButton>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SaveQuote" Class="ml-2">Update</MudButton>
        </div>
    </MudPaper>
</div>